.navBar {
    align-items: center;
}
.navMenu {
    display: flex;
    justify-content: center;
    list-style: none;
}
.liMenu {

    margin-right: 28px;
    padding-top: 72px;
    font-family: 'Markazi Text', serif;
    font-weight: 700;
    font-size: 24px;
    cursor: pointer;
    text-transform: uppercase;
   
}